// Palette colors
$primary: #A51C30;
$primaryAlt: #B24C4C;
$black: #151515;
$gray: #CDD3D5;
$orange: #CE6335;
$orangeAlt: #EF7946;
$blue: #2D2D55;
$blueAlt: #37375E;
$white: #fff;
$green: #2e8b12;
$yellow: #fecb2e;

// field text vars

// border radius
$border-radius-round: 100px;
$border-radius: 7px;

// box shadow
$box-shadow: 0 0 15px -3px $gray;
$box-shadow-red: 0 0 15px -3px rgba($primary, .75);

// others
