@import '~modern-normalize/modern-normalize.css';

/* Normalize definition */
@mixin normalize {
    *,
    ::before,
    ::after {
        -webkit-tap-highlight-color: transparent;
        font-size: inherit;
        font-weight: inherit;
    }

    body {
        @include flex-vertical;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        min-height: 100vh;
    }

    #root {
        @include flex-vertical;
        flex-grow: 1;
        min-height: 100vh;
        overflow: hidden;

        .App {
            min-height: inherit;
        }
    }

    #modal {
        z-index: 101;
    }

    #loader {
        z-index: 102;
    }

    #notification {
        z-index: 103;
    }

    i {
        @include flex-vertical;
        align-items: center;
        justify-content: center;
    }
    input[type='password']::-ms-reveal,
    input[type='password']::-ms-clear {
        display: none;
    }

    /* Custom scrollbar for Application */
    *::-webkit-scrollbar {
        @apply rounded w-1 h-1;
        @apply bg-gray-200;
        @apply dark:bg-gray-600;
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-gray-400 rounded;
    }
}
